{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
                <div class="card-title mt-2">
                    <p class="h4 text-center text-warning">Login your account here !</p>
                </div>
                <hr style="margin:0.5px;">
                    <form action="" method="post">
                        {%csrf_token%}

                        <div class="form-group m-3">
                            <input
                              type="text"
                              class="form-control" name="username"
                              placeholder="Enter username"
                            />
                        </div>

                        <div class="form-group m-3">
                            <input
                              type="password"
                              class="form-control" name="password"
                              placeholder="Enter password"
                            />
                        </div>

                        <button type="submit" class="my_button"">Submit</button>
                    </form>
                    <!-- <a href="">Don't have an account , Register Here</a> -->
                    <p class="text-center dont"> Don't have an account <a href="{% url 'register' %}">Register Here</a></p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block head %}
<style>
.my_button{
    width: 90%;
    height: 2.5rem;
    background-color: black;
    color: beige;
    border-radius: 5px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  .dont a{
    text-decoration: none;
    color: red;
    margin-left: 2px;
  }
</style>
{% endblock head %}